<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="skyworth.cc">

    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="android.permission.SYSTEM_OVERLAY_WINDOW" />

    <application
        android:name=".MainApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />

            </intent-filter>
        </activity>
        <activity
            android:name=".JsBridgeDemoActivity"
            android:launchMode="standard"
            android:theme="@android:style/Theme.Translucent.NoTitleBar.Fullscreen">
            <intent-filter>
                <action android:name="com.intent.action.jsbridge" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <activity
            android:name=".CordovaDemoActivity"
            android:launchMode="standard"
            android:theme="@android:style/Theme.Translucent.NoTitleBar.Fullscreen">
            <intent-filter>
                <action android:name="com.intent.action.cordova" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <activity
            android:name=".UriActivity"
            android:theme="@android:style/Theme.NoDisplay">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data android:scheme="myapp" />
            </intent-filter>
        </activity>

        <!--<activity-->
            <!--android:name=".CordovaExtWebViewActivity"-->
            <!--android:theme="@android:style/Theme.Translucent.NoTitleBar.Fullscreen">-->
            <!--<intent-filter>-->
                <!--<action android:name="com.coocaa.webview.test1" />-->
                <!--<category android:name="android.intent.category.DEFAULT" />-->
            <!--</intent-filter>-->
        <!--</activity>-->

        <!--<activity-->
            <!--android:name=".WebViewActivity2"-->
            <!--android:hardwareAccelerated="true"-->
            <!--android:theme="@android:style/Theme.Translucent.NoTitleBar.Fullscreen">-->
            <!--<intent-filter>-->
                <!--<action android:name="com.coocaa.webview.test2" />-->
                <!--<category android:name="android.intent.category.DEFAULT" />-->
            <!--</intent-filter>-->
        <!--</activity>-->

        <!--<service-->
            <!--android:name=".MainService"-->
            <!--android:exported="true"-->
            <!--android:enabled="true" >-->
            <!--<intent-filter>-->
                <!--<action android:name="com.action.webview.service" />-->
            <!--</intent-filter>-->
        <!--</service>-->
    </application>

</manifest>